In [12]:
import pandas as pd
import random
from random import randint

In [13]:
df = pd.read_csv('model_holdings.csv', index_col=0)

In [14]:
df.head()

   model_id  percent product_id
1      3019        7       OBNK
2      3019        7       AZPN
3      3019        5       IMXI
4      3019        8         FB
5      3019        9       SRTS

In [29]:
cols=['model_id','model_name','risk_score','risk_profile','investment_amt','horizon','model_type']
models = pd.DataFrame(columns=cols) 
myList = []
i = 1;
for model_id in df.model_id.unique().tolist():
    myList.append([model_id,'Strategy Model '+ str(i),random.uniform(1,18), randint(1,5), randint(10000,1000000), randint(3,20), 'Retirement'])
    i = i + 1
df = pd.DataFrame(myList, columns=cols)
models=models.append(df, sort=True)
models.to_csv('models.csv')