In [13]:
import pandas as pd
import random
import csv

In [2]:
dataset = pd.read_csv('companylist.csv',index_col=0)

In [3]:
dataset = dataset.loc[:, ~dataset.columns.str.contains('^Unnamed')]

In [4]:
dataset.drop(['Summary Quote','LastSale','ADR TSO','IPOyear'],axis=1, inplace=True)

In [5]:
dataset = dataset[(dataset['MarketCap'] > 0)]

In [6]:
def classifyL2(row):
    if (row['MarketCap'] >= 10000000000):
        val = "Large Cap"
    elif (row['MarketCap'] < 10000000000) & (row['MarketCap'] >= 2000000000):
        val = "Mid Cap"
    elif (row['MarketCap'] < 2000000000) & (row['MarketCap'] >= 300000000):
        val = "Small Cap"
    else:
        val = "Micro Cap"
    return val

In [7]:
dataset['L2'] = dataset.apply(classifyL2, axis=1)

In [8]:
dataset['L2'].value_counts()

Micro Cap    1628
Small Cap     954
Mid Cap       476
Large Cap     215
Name: L2, dtype: int64

In [9]:
dataset.loc[dataset.index.isin(['AAPL'])]

,Name,MarketCap,Sector,Industry,L2
Symbol,,,,,
AAPL,Apple Inc.,1.397321e+12,Technology,Computer Manufacturing,Large Cap

In [15]:
dataset['risk_score'] = dataset.apply(lambda row: random.uniform(1, 18), axis=1)

In [16]:
dataset.head()

,Name,MarketCap,Sector,Industry,L2,risk_score
Symbol,,,,,,
TXG,"10x Genomics, Inc.",8.042693e+09,Capital Goods,Biotechnology: Laboratory Analytical Instruments,Mid Cap,2.057086
YI,"111, Inc.",1.342119e+08,Health Care,Medical/Nursing Services,Micro Cap,11.411692
PIH,"1347 Property Insurance Holdings, Inc.",3.428200e+07,Finance,Property-Casualty Insurers,Micro Cap,2.611169
PIHPP,"1347 Property Insurance Holdings, Inc.",1.869700e+07,Finance,Property-Casualty Insurers,Micro Cap,7.400033
TURN,180 Degree Capital Corp.,6.722257e+07,Finance,Finance/Investors Services,Micro Cap,9.013228

In [17]:
dataset.to_csv('equities.csv')