In [1]:
import pandas as pd
from faker import Faker
import json            # To create a json file                 
from random import randint      # For student id 
from randstr import randstr
from random import seed
from random import gauss
import csv

In [2]:
from faker.providers import BaseProvider


class FundProvider(BaseProvider):

    __provider__ = 'fund'
    __lang___ = 'en_US'

    funds = ['American Funds', 'Alliance Bernstein', 'Aberdeen', 'Blackrock', 'Blackstone', 'Capital Group', 'ClearBridge Investments', 'Allianz',
               'EverCore', 'Earnest Partners','Geneva Investments', 'Ziegler', 'Newton', 'Principal', 'Prudential', 'Penn Capital', 'Phoenix', 
               'Riverfront', 'Community Capital', 'StoneBridge', 'Sovereign', 'Symphony', 'T Rowe Price', 'Thompson Siegel','Tamarack','US Global',
               'Van Kampen','Westchester Capital','Winslow','Zacks Investment Management','Abbey','Thomas Partners','Snow Capital','Deutsche',
               'Reinhart Partners','Deutsche','Columbia', 'Eaton Vance','Dreyfus','Fidelity','First Trust', 'Goldman Sachs','Guggenheim',
              'Hartford','Harbor', 'iShares','Invesco','Ivy','JP Morgan','Lazard','Lord Abbett','Legg Mason','Morgan Stanley','Northern Trust',
              'Nuveen','Oakmark','Oppenheimer','Parametric','PIMCO','Pioneer Investments','ProShares','Putnam','Templeton','WisdomTree']

    def fund(self):
        return self.random_element(self.funds)

In [3]:
fake = Faker()
seed(1)
fake.add_provider(FundProvider)

In [4]:
def generate_data(x): 
  
    # dictionary
    product_data ={} 
    for i in range(0, x): 
        product_data[i]={} 
        product_data[i]['product_id']= randint(1, 10000) 
        product_data[i]['product_name']= fake.fund() + " Fund " + str(randint(1,10))
        product_data[i]['ticker']= randstr(5).upper()
        product_data[i]['risk_profile']=randint(1,5)
        product_data[i]['one_year_return']=gauss(0, 10)
        product_data[i]['three_year_return']=gauss(0, 10)
        product_data[i]['five_year_return']=gauss(0, 10)
        product_data[i]['seven_year_return']=gauss(0, 10)
        product_data[i]['return_2011']=gauss(0, 10)
        product_data[i]['return_2012']=gauss(0, 10)
        product_data[i]['return_2013']=gauss(0, 10)
        product_data[i]['return_2014']=gauss(0, 10)
        product_data[i]['return_2015']=gauss(0, 10)
        product_data[i]['return_2016']=gauss(0, 10)
        product_data[i]['return_2017']=gauss(0, 10)
        product_data[i]['return_2018']=gauss(0, 10)
        product_data[i]['return_2019']=gauss(0, 10)
        product_data[i]['alpha']=gauss(0, 1)
        product_data[i]['beta']=gauss(0, 1)
        
    # create a dataframe
    df = pd.DataFrame(product_data)
    # transpose to get the columns from rows
    df = df.transpose()
    df.set_index('product_id')
    #print(df)
    # write the csv
    df.to_csv('product.csv')

In [5]:
def main(): 
  
    # Enter number of products 
    number_of_products = 1000  
    generate_data(number_of_products) 
    
main()

In [53]:
from pandas_datareader import data
import matplotlib.pyplot as plt

In [64]:
# Define the instruments to download. We would like to see Apple, Microsoft and the S&P500 index.
tickers = ['AAPL', 'MSFT', '^GSPC']

# We would like all available data from 01/01/2000 until 12/31/2016.
start_date = '2009-12-01'
end_date = '2019-12-31'

# User pandas_reader.data.DataReader to load the desired data. As simple as that.
panel_data = data.DataReader(tickers, 'yahoo', start_date, end_date)

In [65]:
panel_data.head(9)

Attributes   Adj Close                                Close              \
Symbols           AAPL        MSFT        ^GSPC        AAPL        MSFT
Date
2019-12-02  264.160004  149.550003  3113.870117  264.160004  149.550003
2019-12-03  259.450012  149.309998  3093.199951  259.450012  149.309998
2019-12-04  261.739990  149.850006  3112.760010  261.739990  149.850006
2019-12-05  265.579987  149.929993  3117.429932  265.579987  149.929993
2019-12-06  270.709991  151.750000  3145.909912  270.709991  151.750000
2019-12-09  266.920013  151.360001  3135.959961  266.920013  151.360001
2019-12-10  268.480011  151.130005  3132.520020  268.480011  151.130005
2019-12-11  270.769989  151.699997  3141.629883  270.769989  151.699997
2019-12-12  271.459991  153.240005  3168.570068  271.459991  153.240005

Attributes                     High                                  Low  \
Symbols           ^GSPC        AAPL        MSFT        ^GSPC        AAPL
Date
2019-12-02  3113.870117  268.250000  151.830002  3144.310059  263.450012
2019-12-03  3093.199951  259.529999  149.429993  3094.969971  256.290009
2019-12-04  3112.760010  263.309998  150.179993  3119.379883  260.679993
2019-12-05  3117.429932  265.890015  150.320007  3119.449951  262.730011
2019-12-06  3145.909912  271.000000  151.869995  3150.600098  267.299988
2019-12-09  3135.959961  270.799988  152.210007  3148.870117  264.910004
2019-12-10  3132.520020  270.070007  151.889999  3142.120117  265.859985
2019-12-11  3141.629883  271.100006  151.869995  3143.979980  268.500000
2019-12-12  3168.570068  272.559998  153.440002  3176.280029  267.320007

Attributes                                 Open                           \
Symbols           MSFT        ^GSPC        AAPL        MSFT        ^GSPC
Date
2019-12-02  148.320007  3110.780029  267.269989  151.809998  3143.850098
2019-12-03  146.649994  3070.330078  258.309998  147.490005  3087.409912
2019-12-04  149.199997  3102.530029  261.070007  150.139999  3103.500000
2019-12-05  149.479996  3103.760010  263.790009  150.050003  3119.209961
2019-12-06  150.270004  3134.620117  267.480011  150.990005  3134.620117
2019-12-09  150.910004  3135.459961  270.000000  151.070007  3141.860107
2019-12-10  150.759995  3126.090088  268.600006  151.289993  3135.360107
2019-12-11  150.330002  3133.209961  268.809998  151.539993  3135.750000
2019-12-12  151.020004  3138.469971  267.779999  151.649994  3141.229980

Attributes    Volume
Symbols         AAPL      MSFT       ^GSPC
Date
2019-12-02  23621800  27418400  3268740000
2019-12-03  28607600  24066000  3653390000
2019-12-04  16795400  17574700  3695030000
2019-12-05  18606100  17869100  3355750000
2019-12-06  26518900  16403500  3479480000
2019-12-09  32010600  16687400  3345990000
2019-12-10  22605100  16476100  3343790000
2019-12-11  19689200  18856600  3252540000
2019-12-12  34327600  24612100  3990690000

In [67]:
ibm_data = data.get_data_yahoo(tickers,'01/01/2015',interval='m')
ibm_data.head()

Attributes   Adj Close                               Close             \
Symbols           AAPL       MSFT        ^GSPC        AAPL       MSFT
Date
2015-01-01  107.648643  36.269444  1994.989990  117.160004  40.400002
2015-02-01  118.031273  39.366711  2104.500000  128.460007  43.849998
2015-03-01  114.779648  36.762642  2067.889893  124.430000  40.660000
2015-04-01  115.443810  43.977737  2085.510010  125.150002  48.639999
2015-05-01  120.175949  42.368355  2107.389893  130.279999  46.860001

Attributes                     High                                 Low  \
Symbols           ^GSPC        AAPL       MSFT        ^GSPC        AAPL
Date
2015-01-01  1994.989990  120.000000  47.910000  2072.360107  104.629997
2015-02-01  2104.500000  133.600006  44.299999  2119.590088  116.080002
2015-03-01  2067.889893  130.279999  44.189999  2117.520020  121.629997
2015-04-01  2085.510010  134.539993  49.540001  2125.919922  123.099998
2015-05-01  2107.389893  132.970001  48.910000  2134.719971  123.360001

Attributes                                Open                          \
Symbols          MSFT        ^GSPC        AAPL       MSFT        ^GSPC
Date
2015-01-01  40.349998  1988.119995  111.389999  46.660000  2058.899902
2015-02-01  40.230000  1980.900024  118.050003  40.590000  1996.670044
2015-03-01  40.540001  2039.689941  129.250000  43.669998  2105.229980
2015-04-01  40.119999  2048.379883  124.820000  40.599998  2067.629883
2015-05-01  46.020000  2067.929932  126.099998  48.580002  2087.379883

Attributes        Volume
Symbols             AAPL         MSFT         ^GSPC
Date
2015-01-01  1.305263e+09  918966800.0  7.733004e+10
2015-02-01  1.136535e+09  656509700.0  6.877556e+10
2015-03-01  1.138642e+09  824335300.0  7.667585e+10
2015-04-01  9.961355e+08  874535300.0  7.206094e+10
2015-05-01  9.541521e+08  633072800.0  6.518773e+10