In [21]:
import pandas as pd
import numpy as np

In [22]:
models = pd.read_csv('models.csv', index_col=0)

In [23]:
models.head()

,account_name,inv_horizon,inv_obj_least_imp,inv_obj_most_imp,inv_obj_some_imp,inv_obj_very_imp,investment_amt,liquidity_need,model_id,model_name,primary_fin_need,risk_profile,risk_tolerance,volatility
0,Jane Wells,3,0,3,0,2,632860,6,1,Capital Appreciation Strategy 1,5,4,1,19.99
1,Madison Ryan,2,0,1,2,4,251418,1,2,Income Strategy 2,6,2,0,23.25
2,Eric Smith,3,0,3,1,2,223181,6,3,Capital Appreciation Strategy 3,6,4,1,23.15
3,Travis Smith,1,1,3,2,4,459374,4,4,Capital Appreciation Strategy 4,2,6,2,17.78
4,Michelle Williams,1,0,3,1,0,430662,3,5,Capital Appreciation Strategy 5,8,4,1,21.83

In [24]:
df = models.drop(['account_name','model_name'],axis=1)

In [25]:
df.head()

,inv_horizon,inv_obj_least_imp,inv_obj_most_imp,inv_obj_some_imp,inv_obj_very_imp,investment_amt,liquidity_need,model_id,primary_fin_need,risk_profile,risk_tolerance,volatility
0,3,0,3,0,2,632860,6,1,5,4,1,19.99
1,2,0,1,2,4,251418,1,2,6,2,0,23.25
2,3,0,3,1,2,223181,6,3,6,4,1,23.15
3,1,1,3,2,4,459374,4,4,2,6,2,17.78
4,1,0,3,1,0,430662,3,5,8,4,1,21.83

In [26]:
# Check if any model has null values in any column
df1 = df[df.isnull().any(axis=1)]
df1.head(10)

Empty DataFrame
Columns: [inv_horizon, inv_obj_least_imp, inv_obj_most_imp, inv_obj_some_imp, inv_obj_very_imp, investment_amt, liquidity_need, model_id, primary_fin_need, risk_profile, risk_tolerance, volatility]
Index: []

In [27]:
# drop the models which have null values in any column
df.dropna()

,inv_horizon,inv_obj_least_imp,inv_obj_most_imp,inv_obj_some_imp,inv_obj_very_imp,investment_amt,liquidity_need,model_id,primary_fin_need,risk_profile,risk_tolerance,volatility
0,3,0,3,0,2,632860,6,1,5,4,1,19.99
1,2,0,1,2,4,251418,1,2,6,2,0,23.25
2,3,0,3,1,2,223181,6,3,6,4,1,23.15
3,1,1,3,2,4,459374,4,4,2,6,2,17.78
4,1,0,3,1,0,430662,3,5,8,4,1,21.83
...,...,...,...,...,...,...,...,...,...,...,...,...
995,5,0,4,1,2,554661,3,996,3,6,1,39.42
996,2,0,1,3,2,71351,2,997,1,2,1,21.01
997,5,4,2,3,0,352812,1,998,4,3,1,25.88
998,2,0,2,3,4,650202,5,999,6,4,1,36.90
999,6,0,4,2,3,666363,2,1000,8,7,2,24.20

In [28]:
#round the volatility column value
df.volatility = df.volatility.round(2)

In [29]:
np.where(np.isnan(df))

(array([], dtype=int64), array([], dtype=int64))

In [30]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_similarity(df)

array([[1.        , 1.        , 1.        , ..., 0.999996  , 0.99999882,
        0.99999888],
       [1.        , 1.        , 1.        , ..., 0.99999602, 0.99999883,
        0.99999888],
       [1.        , 1.        , 1.        , ..., 0.99999604, 0.99999884,
        0.99999889],
       ...,
       [0.999996  , 0.99999602, 0.99999604, ..., 1.        , 0.99999916,
        0.99999912],
       [0.99999882, 0.99999883, 0.99999884, ..., 0.99999916, 1.        ,
        1.        ],
       [0.99999888, 0.99999888, 0.99999889, ..., 0.99999912, 1.        ,
        1.        ]])